@layer theme {
  @theme {
    --font-sans: Poppins_400Regular;
    --font-poppins: Poppins_400Regular;
    --font-poppins-medium: Poppins_500Medium;
    --font-poppins-semibold: Poppins_600SemiBold;
    --font-poppins-bold: Poppins_700Bold;
  }
}
